/* ====== ESTILO GLOBAL ====== */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f172a;
  color: #ffffff;
}

/* ====== CONTAINER ====== */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}

.page-title {
  text-align: center;
  margin-bottom: 40px;
  color: #facc15;
}

/* ====== HEADER ====== */
.site-header {
  background: #020617;
  border-bottom: 2px solid #facc15;
  padding: 20px;
}

.site-header h1 {
  margin-right: auto;
  color: #facc15;
}

.site-header nav {
  margin-left: 12px;

}

.site-header nav a {
  color: #ffffff;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

.site-header nav a:hover,
.site-header nav a.active {
  color: #facc15;
}

.site-header .container {
  display: flex;
  align-items: center;
  
  /* ====== ATLETAS ====== */
.atletas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.atleta-card {
  background: #020617;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  border: 1px solid #1e293b;
}

.atleta-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.atleta-card h3 {
  color: #facc15;
  margin: 10px 0 5px;
}

.atleta-card p {
  font-size: 14px;
  margin: 4px 0;
}

/* ====== REDES SOCIAIS ====== */
.social {
  margin-top: 10px;
}

.social a {
  color: #38bdf8;
  text-decoration: none;
  margin: 0 8px;
}

.social a:hover {
  text-decoration: underline;
}

/* ====== FOOTER ====== */
.site-footer {
  background: #020617;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #1e293b;
  font-size: 14px;
}
